body {
	min-width: 320px;
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', Arial, sans-serif;


	color: #283645;
	background-color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;

  	white-space: nowrap;

  	clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.no-mobile {
	display: none;
}

@media (min-width: 768px) {
	.no-mobile {
		display: block;
	}
}
/*header*/

.page-header {
	background-color: #1d2631;
}

.page-header__logo {
	display: block;

	padding-left: 20px;
	padding-bottom: 20px;

	border-bottom: 1px solid #000;
}

.page-header__logo img {
	width: 75px;
	height: 25px;
}

/*main-nav*/

.main-nav {
	position: relative;

	min-width: 320px;
	margin: 0 auto;
	padding: 0;
	padding-top: 20px;

	background-color: #283645;
}

.main-nav__toggle {
	position: absolute;

	top: 20px;
	right: 20px;
	z-index: 2;

	display: block;

	width: 50px;
	height: 25px;

	background-color: transparent;

	cursor: pointer;
	border: none;
}

.main-nav--closed .main-nav__toggle::before {
	content: "";

	position: absolute;

	top: 0;
	right: 0;

	width: 50px;
	height: 4px;

	background-color: #fff;
	box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
}

.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:focus::before {
	background-color: #db5378;
	box-shadow: 0 10px 0 0 #db5378, 0 20px 0 0 #db5378;
}

.main-nav--closed .main-nav__toggle:active::before {
	background-color: rgba(219, 83, 120, 0.3);
	box-shadow: 0 10px 0 0 rgba(219, 83, 120, 0.3), 0 20px 0 0 rgba(219, 83, 120, 0.3);
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
	content: "";

	position: absolute;
	top: -3px;
	right: 10px;

	width: 4px;
	height: 30px;

	background-color: #fff;
}

.main-nav--opened .main-nav__toggle::before {
	transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
	transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:focus::before,
.main-nav--opened .main-nav__toggle:hover::after,
.main-nav--opened .main-nav__toggle:focus::after {
	background-color: #db5378;
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
	background-color: rgba(219, 83, 120, 0.3);
}

.main-nav__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-list a {
	display: block;
	padding: 20px;

	font-size: 18px;
	font-weight: bold;
	line-height: 32px;

	color: #fff;
	text-decoration: none;
	text-transform: uppercase;

	text-align: center;

	border-top: 1px solid #485461;
	border-bottom: 1px solid #000;
}

.site-list a:hover,
.site-list a:focus {
	color: #d22856;
}

.site-list a:active,
.site-list a:active {
	color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1199px) {
	.main-nav--closed .site-list__item {
		display: none;
	}
}

.download {
    background-image: url(img/iphone-hand.png),
					  url(img/background.png);
	background-repeat: no-repeat;
	background-position: center 105px, center -53px;
    background-size: auto, 777px auto;

	border-top: 1px solid transparent; 
}

.download__wrapper {
	margin-top: 395px;

	padding-top: 20px;

	background-color: #1d2631;
}

.download__button {
	display: block;

	padding: 15px 36px 15px 36px;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;

	font-weight: bold;
	font-size: 18px;

	text-align: center;

	color: #fff;
	text-decoration: none;

	border: 2px solid #fff;
	border-radius: 30px;
}

.download__button:hover,
.download__button:focus {
	background-color: #fff;
	color: #d22856;
}

.download__button:active {
	background-color: #fff;
	color: rgba(210, 40, 86, 0.3);
}

.download-list {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	width: 210px;

	padding: 0;
	margin: 0 auto;
	margin-bottom: 20px;

	list-style: none;
}

.download-list__item:hover, 
.download-list__item:focus {
	transform: scale(1.2);
}

.download__description {
	color: #fff;

	width: 235px;
	margin: 0 auto;
	padding-bottom: 30px;

	text-align: center;

	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}

/*page-main*/

/*features*/

.features {
	margin-bottom: 45px;
}

.features__slogan {
	margin-top: 42px;
	margin-bottom: 35px;
	padding-left: 20px;
    padding-right: 20px;
}

.features__item {
	padding: 0;
	margin: 0;
	margin-bottom: 32px;

	text-align: center;

	font-size: 24px;
	font-weight: 300;
}

.features-list {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;
	padding-top: 81px;
	padding-bottom: 285px;

	background-color: #f2f2f2;
	background-image: url(img/iphone-screen.png),
					  url(img/bg-triangle-white.svg);
	background-repeat: no-repeat;
	background-position: 50% 110%, center -1px;

	list-style: none;

	text-align: center;
}

.features-list__item {
	margin-bottom: 30px;
	padding: 0 20px;
}

.features__title {
	margin: 0;
	margin-bottom: 13px;

	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.features__description {
	margin: 0;

	font-size: 14px;
	line-height: 24px;
}

/*rewiews*/

.reviews {
	text-align: center;

	margin-bottom: 45px;
}

.reviews__container {
	padding: 0 20px;
}

.reviews__list {
	min-height: 255px;
}

.slider__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slide {
	display: none;
}

.slider__controls {
	font-size: 0;
}

.slider__controls label {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 16px;

	background-color: #bec2c7;
	border: 3px solid transparent;
	border-radius: 50%;
	cursor: pointer;
}

#review-1:checked ~ .reviews #slide1,
#review-2:checked ~ .reviews #slide2,
#review-3:checked ~ .reviews #slide3 {
	display: block;
}

#review-1:checked ~ .reviews label[for="review-1"],
#review-2:checked ~ .reviews label[for="review-2"],
#review-3:checked ~ .reviews label[for="review-3"] {
	background-color: #fff;
	border: 3px solid #000;
}

.reviews__item {
	margin: 0;
	padding: 0;
}

.reviews__author-name {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	font-style: normal;
}

.reviews__text {
	font-size: 14px;
	line-height: 30px;
}

/*price*/

.price {
	position: relative;

	background-image: url(img/bg-triangle-white.svg);
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	background-position: center -1px;

	padding-top: 85px;
	padding-bottom: 50px;
	margin-bottom: 43px;

	overflow: hidden;
}

.price__wrapper {
	width: 320px;
	margin: 0 auto;
	padding: 0 20px;

	position: relative;

	overflow: hidden;
} 

.price__table {
	position: relative;
    /*right: 285px;*/

    margin-bottom: 40px;

	border-collapse: collapse; 
	transition: right 0.5s ease-out 0s;
}

.price__cell {
	padding: 0;
	min-width: 280px;

	background-color: #283645;
	color: #fff;

	border: 2px solid #e5e5e5; 
}

.price td {
	border: 2px solid #e5e5e5; 
	background-color: #fff;

	padding-top: 13px;
    padding-bottom: 14px;
    padding-right: 14px;
    padding-left: 21px;
}

.price__description--head {
	margin: 0;
	padding-top: 16px;

	font-size: 18px;
	line-height: 30px;

	text-transform: uppercase;
}

.price__cell--hit {
	position: relative;

	overflow: hidden;
}

.price__cell--hit::before {
	content: "ХИТ";

    position: absolute;
    top: 12px;
    left: -53px;

    height: 30px;
    width: 150px;

    font-size: 14px;
    line-height: 30px;
    font-weight: 400;

    background-color: #d22856;

    transform: rotate(-45deg);
}

.price__value--head {
	margin: 0;
	padding-bottom: 22px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}

.price__description,
.price__value {
	display: inline-block;
}

.price__description {
	margin: 0;
	width: 55%;

	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.price__value {
	margin: 0;
	width: 40%;

	text-align: right;
	vertical-align: bottom;
}

.prise__controls {
	text-align: center;
}

#price-1:checked ~ .price .price__table {
	right: 0;
}

#price-2:checked ~ .price .price__table {
	right: 280px;
}

#price-3:checked ~ .price .price__table {
	right: 560px;
}

#price-1:checked ~ .price label[for="price-1"],
#price-2:checked ~ .price label[for="price-2"],
#price-3:checked ~ .price label[for="price-3"] {
	background-color: #fff;
	border: 3px solid #000;
}

/*footer*/

/*contact*/

.contact__information {
	margin-bottom: 15px;
}

.contact__title {
	margin: 0;
	margin-bottom: 38px;

	font-weight: 300;
	font-size: 24px;

	text-align: center;
}

.contact-list {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;

	list-style: none;

	text-align: center;
}

.contact-list__item {
	flex-basis: 30%;
}

.contact-list__item b {
	font-size: 18px;
}

.contact-list__item a,
.contact-list__item p {
	color: #d22856;

	font-size: 24px;

	text-decoration: none;
}

.contact__number {
	margin-top: 4px;
}

.contact__email {
	margin-top: 6px;
	margin-bottom: 27px; 
}

.contact__address {
	margin-top: 6px;
}

/*map*/

.page-footer__map-wrapper {
	position: relative;
	z-index: 1;
}

.page-footer__map-wrapper::before {
	position: absolute;

	content: "";

	top: -1px;
	left: 0;

	width: 100%;
	min-height: 40px;

	background-image: url(img/bg-triangle-white-footer.svg);
	background-repeat: no-repeat;
	background-position: 50% 0px;
	background-size: 100% 35px;
	z-index: 2;
}

/*social*/