@font-face {
    font-family: 'Open Sans';
    src: local("Open Sans Bold"), url("fonts/OpenSans-Bold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local("Open Sans Light"), url("fonts/OpenSans-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local("Open Sans"), url("fonts/OpenSans-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
	min-width: 320px;
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', Arial, sans-serif;

	color: #283645;
	background-color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

.page-container {
	max-width: 1400px;
	margin: 0 auto;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;

  	white-space: nowrap;

  	clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.no-mobile {
	display: none;
}

@media (min-width: 660px) {
	.no-mobile {
		display: block;
	}
}
/*header*/

.page-header {
	background-color: #1d2631;
}

.page-header__logo {
	display: block;

	padding: 20px 0 20px 20px;

	border-bottom: 1px solid transparent;
}

.page-header__logo img {
	width: 75px;
	height: 25px;
}

@media (min-width: 660px) {
	.page-header__logo {
		padding-top: 26px;
		padding-bottom: 40px;

		border-bottom: 1px solid #000;
	}

	.page-header__logo img {
		width: 147px;
		height: auto;
	}
}

@media (min-width: 1200px) {
	.page-header__logo {
		width: 310px;
		padding-left: 15px;

		border-bottom: 1px solid transparent;
	}
}
	
/*main-nav*/

.main-nav {
	position: relative;

	min-width: 320px;
	margin: 0 auto;
	padding: 0;

	background-color: rgba(0, 0, 0, 0.3);

	z-index: 1;
}

.main-nav__toggle {
	position: absolute;

	top: 20px;
	right: 20px;
	z-index: 2;

	display: block;

	width: 50px;
	height: 25px;

	background-color: transparent;

	cursor: pointer;
	border: none;
	outline: none;
}

@media (min-width: 660px) {
	.main-nav__toggle {
		top: 44px;
	}
}

.main-nav__toggle::before,
.main-nav__toggle::after {
	transition: all .3s;
}

.main-nav--closed .main-nav__toggle::before {
	content: "";

	position: absolute;

	top: 0;
	right: 0;

	width: 50px;
	height: 4px;

	background-color: #fff;
	box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
}

.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:focus::before {
	background-color: #db5378;
	box-shadow: 0 10px 0 0 #db5378, 0 20px 0 0 #db5378;
}

.main-nav--closed .main-nav__toggle:active::before {
	background-color: rgba(219, 83, 120, 0.3);
	box-shadow: 0 10px 0 0 rgba(219, 83, 120, 0.3), 0 20px 0 0 rgba(219, 83, 120, 0.3);
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
	content: "";

	position: absolute;
	top: -3px;
	right: 10px;

	width: 4px;
	height: 30px;

	background-color: #fff;
}

.main-nav--opened .main-nav__toggle::before {
	transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
	transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:focus::before,
.main-nav--opened .main-nav__toggle:hover::after,
.main-nav--opened .main-nav__toggle:focus::after {
	background-color: #db5378;
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
	background-color: rgba(219, 83, 120, 0.3);
}

.main-nav--opened .site-list,
.main-nav--opened .page-header__logo {
	background-color: #283645;
}

.main-nav__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-list a {
	display: block;
	padding: 15px;

	font-size: 18px;
	font-weight: bold;
	line-height: 32px;

	color: #fff;
	text-decoration: none;
	text-transform: uppercase;

	text-align: center;

	border-top: 1px solid #485461;
	border-bottom: 1px solid #000;
	transition: all .5s;
}

.site-list a[href]:hover,
.site-list a[href]:focus {
	color: #d22856;
}

.site-list a:active,
.site-list a:active {
	color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1199px) {
	.main-nav--closed .site-list__item,
	.slider__controls--desktop {
		display: none;
	}
}

@media (min-width: 1200px) {
	.main-nav {
		display: flex;
		justify-content: center;
	}

	.main-nav__toggle,
	.main-nav--closed .main-nav__toggle::before {
		display: none;
	}

	.main-nav__wrapper {
		flex-basis: 650px;
	}

	.site-list {
		display: flex;
		justify-content: space-between;

		padding-top: 30px;
	}

	.site-list a {
		display: block;

		line-height: 18px;
		font-weight: normal;

		text-transform: none;
		border: none;
	}

	.site-list__item--active a {
		position: relative;

		padding: 15px 0;
	}

	.site-list__item--active a::after {
		content: "";

		position: absolute;
		right: 0;
		bottom: -3px;
		left: 0;

		height: 2px;

		background-color: #fff;
	}
}

.download {
	position: relative;
	margin-bottom: 42px;
	margin-top: -70px;

    background-image: url(img/bg-download-mobile-1x.jpg);
	background-repeat: no-repeat;
	background-size: 700px;
    background-position: center 0px;

	border-top: 1px solid transparent; 

	z-index: 0;
}

.download::before {
	content: "";

	position: absolute;
	top: 175px;
	right: 20%;

	width: 258px;
	height: 289px;

	background-image: url(img/iphone-hand-mobile-1x.png);
}

@media (-webkit-min-device-pixel-ratio: 1.5),
  	   (min-resolution: 1.5dppx),
  	   (min-resolution: 144dpi) {
  	.download {
    	background-image: url(img/bg-download-mobile-2x.jpg);
    }

    .download::before {
		background-image: url(img/iphone-hand-mobile-2x.png);
		background-size: contain;
    }
}						  					

.download__wrapper {
	margin-top: 464px;
	padding-top: 20px;

	background-color: #1d2631;
}

.download__button {
	display: block;

	padding: 15px 10px 15px 10px;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;

	font-weight: bold;
	font-size: 18px;

	text-align: center;

	color: #fff;
	text-decoration: none;

	border: 2px solid #fff;
	border-radius: 30px;
	transition: all .5s;
}

.download__button:hover,
.download__button:focus {
	background-color: #fff;
	color: #d22856;
}

.download__button:active {
	background-color: #fff;
	color: rgba(210, 40, 86, 0.3);
}

.download-list {
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: baseline;

	width: 210px;

	padding: 0;
	margin: 0 auto;
	margin-bottom: 20px;

	list-style: none;
}

.download-list__item {
	transition: all .5s;
}

.download-list__item:hover, 
.download-list__item:focus {
	transform: scale(1.2);
}

.download__description {
	color: #fff;

	width: 235px;
	margin: 0 auto;
	padding-bottom: 30px;

	text-align: center;

	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}

@media (min-width: 660px) {
	.download {
		margin-top: -112px;
		margin-bottom: 50px;

		background-image: url(img/bg-download-tablet-1x.jpg); 
		background-position: center 0;
    	background-size: 1200px auto;
	}

    .download::before {
		top: 182px;
    	right: 3%;

		width: 470px;
		height: 545px;

		background-image: url(img/iphone-hand-tablet-1x.png);
	}	
}

@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5),
  	   (min-width: 660px) and (min-resolution: 1.5dppx),
  	   (min-width: 660px) and (min-resolution: 144dpi) {
  	.download {
    	background-image: url(img/bg-download-tablet-2x.jpg);
  	}

  	.download::before {
      			background-image: url(img/iphone-hand-tablet-2x.png);
      		}
}	

@media (min-width: 660px) {
	.download__wrapper {
		position: relative;

		display: flex;
		flex-direction: column;

		width: 300px;
		padding-left: 20px;
		margin-top: 72px;

		text-align: center;

		background-color: transparent;
	}

	.download__slogan {
		display: block;

		padding: 112px 55px 0;
		margin-bottom: 32px;

		font-size: 40px;
		font-weight: 300;
		line-height: 47px;

		color: #fff;
	}

	.download__button {
		padding: 15px 45px 15px 44px;
		margin: 0 0 45px 0;
	}

	.download-list {
		margin-bottom: 33px;
	}

	.download__description {
		width: 100%;
		padding-bottom: 30px;
		margin-bottom: 80px;

		font-size: 18px;
		line-height: 24px;
	}
}

@media (min-width: 1200px) {
	.download {
		margin-bottom: 70px;

    	background-image: url(img/bg-download-desktop-1x.jpg);
		background-position: center 0;
    	background-size: 2560px;

		border-top: 1px solid transparent; 
	}

	.download::before {
		top: 210px;
    	right: 14.2%;

		width: 555px;
		height: 645px;

		background-image: url(img/iphone-hand-desktop-1x.png);
	}
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5),
  	   (min-width: 1200px) and (min-resolution: 1.5dppx),
  	   (min-width: 1200px) and (min-resolution: 144dpi) {
  	.download {
    	background-image: url(img/bg-download-desktop-2x.jpg);
  	}

  	.download::before {
      	background-image: url(img/iphone-hand-desktop-2x.png);
    }
}

@media (min-width: 1600px) {
	.download::before {	
    	right: 25%;
	}
}

@media (min-width: 1200px) {
	.download__wrapper {
		display: flex;
		flex-direction: column;

		width: 300px;
		padding-left: 0;
		padding-bottom: 124px;
		margin-top: 185px;
		margin-left: 11%;

		text-align: center;

		background-color: transparent;
	}

	.download__slogan {
		padding: 0;
		padding-left: 20px;
		margin-top: 15px;
		margin-bottom: 32px;

		font-size: 50px;
		font-weight: normal;
		line-height: 56px;
	}

	.download__button {
		margin: 30px 0 65px 0;
		padding: 15px 20px 15px 20px;
		box-sizing: border-box;
	
		font-size: 21px;
		line-height: 18px;	
	}

	.download-list {
		margin-bottom: 55px;
	}

	.download__description {
		width: 300px;
		padding-bottom: 0;
		margin-bottom: 0;

		font-size: 18px;
	}
}

/*page-main*/

/*features*/

.features {
	margin-bottom: 45px;
}

.features__slogan {
	margin-bottom: 35px;
	padding-left: 20px;
    padding-right: 20px;
}

.features__item {
	padding: 0;
	margin: 0;
	margin-bottom: 32px;

	text-align: center;

	font-size: 24px;
	font-weight: 300;
}

.features-list {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;
	padding-top: 81px;
	padding-bottom: 285px;

	background-color: #f2f2f2;
	background-image: url(img/features-mobile-1x.png),
					  url(img/bg-triangle-white.svg);
	background-repeat: no-repeat;
	background-position: 50% 101.5%, center -1px;

	list-style: none;

	text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
  	   (min-resolution: 1.5dppx),
  	   (min-resolution: 144dpi) {
  		.features__wraper {
    		background-image: url(img/features-mobile-2x.png);
 		}
}

.features-list__item {
	margin-bottom: 30px;
	padding: 0 20px;
}

.features__title {
	margin: 0;
	margin-bottom: 13px;

	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.features__description {
	margin: 0;

	font-size: 14px;
	line-height: 24px;
}

@media (min-width: 660px) {
	.features {
		margin-bottom: 10px;
	}

	.features__slogan {
		margin-top: 0;
		margin-bottom: 50px;
		padding-left: 20px;
    	padding-right: 20px;
	}

	.features__item {
		padding: 0;
		margin: 0;
		margin-bottom: 32px;

		font-size: 40px;
		font-weight: 300;
	}

	.features__item--first {
		margin-bottom: 3px;
	}

	.features__item--second {
		padding-left: 135px;
		padding-right: 135px;
	}

	.features-list {
		min-height: 395px;
		min-width: 310px;
		margin: 0;
		margin-bottom: 55px;
		padding: 75px 20px 15px 330px;

		background-color: #f2f2f2;
		background-image: url(img/features-tablet-1x.png),
					  	  url(img/bg-triangle-white.svg);
		background-repeat: no-repeat;
		background-position: 20px 3px, center -1px;

		text-align: left;
	}

	.features-list__item {
		padding: 0;
	}

	.features-effect {
		position: relative;

		min-width: 310px;
		margin: 0;
		padding: 0;
		padding-top: 35px;
   		padding-bottom: 115px;
		padding-left: 330px;

		background-image: url(img/diagramm-fill.svg),
						  url(img/timer.svg);
		background-repeat: no-repeat;
		background-position: 39px 58px, 20px 3px;
    	background-size: 202px 202px, 238px 276px;
	}

	.features-effect::before {
		content: '24';

		position: absolute;
		top: 80px;
		left: 84px;

		font-size: 96px;
		line-height: 150px;
		font-weight: bold;

		color: #d22856; 
	}

	.features-effect__title {
		margin: 0;
		padding: 0;
		padding-top: 5px;
		padding-right: 140px;

		font-size: 30px;
		line-height: 36px;
	}

	.features-effect__item {
		margin: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0;
		padding-right: 22px;

		font-size: 14px;
		line-height: 24px;
	}

	.features-effect__link {
		display: block;

		font-size: 14px;
		line-height: 24px;

		color: #d22856;
		text-decoration: none;
	}
}

@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5),
  	   (min-width: 660px) and (min-resolution: 1.5dppx),
  	   (min-width: 660px) and (min-resolution: 144dpi) {
  		.features__wraper {
    		background-image: url(img/features-tablet-2x.png);
  		}
}

@media (min-width: 1200px) {
	.features {
		margin-bottom: 65px;
	}

	.features__slogan {
		margin-top: 0;
		margin-bottom: 83px;
		padding-left: 20px;
    	padding-right: 20px;
	}

	.features__item {
		padding: 0;
		margin: 0;
		margin-bottom: 32px;

		font-size: 50px;
	}

	.features__item--first {
		margin-bottom: 3px;
	}

	.features__item--second {
		padding-left: 220px;
		padding-right: 220px;
	}

	.features-list__wrapper {
		padding-top: 200px;

		background-color: #f2f2f2;
		background-image: url(img/bg-triangle-white.svg);
		background-repeat: no-repeat;
		background-position: inherit;
	}

	.features-list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		position: relative;

		width: 940px;
		min-height: initial;
		margin: 0 auto;
		padding: 0;
		padding-left: 130px;
		padding-right: 130px;
		padding-top: 150px;

		background-color: #f2f2f2;

		background-image: initial;

		text-align: center;
	}

	.features-list__item {
		padding: 0;
		margin-bottom: 0;
		flex-basis: 30%;
	}

	.features-list__item--center {
		flex-basis: 25%;
	}

	.features-list__item--left,
	.features-list__item--center,
	.features-list__item--right {
		position: relative;
	}

	.features-list__item--left::before {
		content: "";

		position: absolute;
		bottom: 255px;
		left: 50%;

		transform: translate(-50%);
		
		width: 186px;
		height: 300px;

		background-image: url(img/iphone-screen-1.png);
	}

	.features-list__item--center::before {
		content: "";

		position: absolute;
		bottom: 255px;
		left: 50%;

		transform: translate(-50%);

		width: 186px;
		height: 300px;

		background-image: url(img/iphone-screen-2.png);
	}

	.features-list__item--right::before {
		content: "";

		position: absolute;
		bottom: 255px;
		left: 50%;

		transform: translate(-50%);

		width: 186px;
		height: 300px;

		background-image: url(img/iphone-screen-3.png);
	}

	.features-list__item--left::after,
	.features-list__item--center::after,
	.features-list__item--right::after {
		position: absolute;

		content: "";

		left: 50%;
		bottom: 247px;

		transform: translate(-50%);

		width: 294px;
		height: 17px;

		background-image: url(img/iphone-shadow.png);
	}

	.features__title {
		font-size: 30px;
		line-height: 30px;

		margin-bottom: 26px;
	}

	.features__description {
		font-size: 18px;
		line-height: 30px;
	}

	.features-effect__wrapper {
		background-color: #f2f2f2;
	}

	.features-effect {
		padding: 155px 0 115px 41.4%;
		margin-top: -1px;

		background-color: #f2f2f2;
		background-position: 16.5% 60%, 15% 50%;
    	background-size: 253px 253px, 298px 345px;
	}

	.features-effect::before {
		top: 34%;
    	left: 17.5%;

		font-size: 120px;
		line-height: 187px;
	}

	.features-effect__title {
		margin: 0;
		margin-bottom: 25px;
		padding: 0;
		padding-top: 5px;
		padding-right: 140px;

		line-height: 30px;
	}

	.features-effect__item {
		margin: 0;
		margin-top: 10px;
		margin-bottom: 30px;
		padding: 0;
		padding-right: 155px;

		font-size: 18px;
		line-height: 30px;
	}

	.features-effect__link {
		font-size: 18px;
		line-height: 30px;
	}

	.features-effect__link:hover,
	.features-effect__link:focus {
		text-decoration: underline;
	}

	.features-effect__link:active {
		opacity: 0.3;
	}
}

/*rewiews*/

.reviews {
	text-align: center;

	margin-bottom: 45px;
}

.reviews__container {
	padding: 0 20px;
}

.reviews__list {
	min-height: 255px;
}

.slider__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slide {
	display: none;
}

.slider__controls {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 70px;
	margin: 0 auto;

	font-size: 0;
}

.slider__controls label {
	width: 6px;
	height: 6px;
	margin: 5px;

	background-color: #bec2c7;
	border-radius: 50%;
	cursor: pointer;
}

.slider__controls label:hover {
	background-color: #7e868f;
}

#review-1:checked ~ .reviews #slide1,
#review-2:checked ~ .reviews #slide2,
#review-3:checked ~ .reviews #slide3 {
	display: block;
}

#review-1:checked ~ .reviews label[for="review-1"],
#review-2:checked ~ .reviews label[for="review-2"],
#review-3:checked ~ .reviews label[for="review-3"] {
	background-color: #fff;
	border: 3px solid #000;
}

.reviews__item {
	margin: 0;
	padding: 0;
}

.reviews__author-name {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	font-style: normal;
}

.reviews__text {
	font-size: 14px;
	line-height: 30px;
}

@media (min-width: 660px) {
	.reviews {
		margin-bottom: 25px;
	}

	.reviews__item {
		display: flex;
		flex-direction: column-reverse;
	}

	.reviews__author-name {
		font-size: 20px;
	}

	.reviews__author-description {
		font-size: 14px;
		line-height: 30px;
		font-weight: normal;
	}

	.reviews__text {
		margin: 0;
		margin-bottom: 35px;
		padding: 0;

		font-size: 18px;
	}

	.reviews__list {
		min-height: 220px;
	}
}

@media (min-width: 1200px) {
	.reviews__container .slider__controls {
		display: none;
	}

	.reviews {
		margin-bottom: 10px;
	}

	.slider__controls--desktop {

	}

	.reviews__list {
		position: relative;

		padding-top: 120px;
		padding-left: 150px;
		padding-right: 150px;
	}

	.reviews__list::before {
		position: absolute;

		content: ""; 

		width: 79px;
		height: 63px;

		top: 0;
		left: 50%;

		transform: translate(-50%);

		background-image: url(img/quotes.svg);
		background-repeat: no-repeat;

	}

	.slider-list__item {
		padding-left: 50px;
		padding-right: 50px;
	}

	.reviews__author-name {
		font-size: 24px;
	}

	.reviews__author-description {
		font-size: 18px;
		line-height: 30px;
		font-weight: normal;
	}
}

/*price*/

.price {
	position: relative;

	background-image: url(img/bg-triangle-white.svg);
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	background-position: center -1px;

	padding-top: 85px;
	padding-bottom: 50px;
	margin-bottom: 43px;

	overflow: hidden;
}

.price__wrapper {
	width: 320px;
	margin: 0 auto;
	padding: 0 20px;

	position: relative;

	overflow: hidden;
} 

.price__table {
	position: relative;

    margin-bottom: 40px;

	border-collapse: collapse; 
	transition: right 0.5s ease-out 0s;
}

.price__cell {
	padding: 0;
	min-width: 280px;

	background-color: #283645;
	color: #fff;

	border: 2px solid #e5e5e5; 
}

.price td {
	border: 2px solid #e5e5e5; 
	background-color: #fff;

	padding-top: 13px;
    padding-bottom: 14px;
    padding-right: 14px;
    padding-left: 21px;
}

.price__description--head {
	margin: 0;
	padding-top: 16px;

	font-size: 18px;
	line-height: 30px;

	text-transform: uppercase;
}

.price__cell--hit {
	position: relative;

	overflow: hidden;
}

.price__cell--hit::before {
	content: "ХИТ";

    position: absolute;
    top: 12px;
    left: -53px;

    height: 30px;
    width: 150px;

    font-size: 14px;
    line-height: 30px;
    font-weight: 400;

    background-color: #d22856;

    transform: rotate(-45deg);
}

.price__value--head {
	margin: 0;
	padding-bottom: 22px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}

.price__description,
.price__value {
	display: inline-block;
}

.price__description {
	margin: 0;
	width: 55%;

	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.price__value {
	margin: 0;
	width: 40%;

	text-align: right;
	vertical-align: bottom;
}

#price-1:checked ~ .price .price__table {
	right: 0;
}

#price-2:checked ~ .price .price__table {
	right: 280px;
}

#price-3:checked ~ .price .price__table {
	right: 560px;
}

#price-1:checked ~ .price label[for="price-1"],
#price-2:checked ~ .price label[for="price-2"],
#price-3:checked ~ .price label[for="price-3"] {
	background-color: #fff;
	border: 3px solid #000;
}

@media (min-width: 660px) {
	.price {
		padding-bottom: 25px;
    	margin-bottom: 50px;

		overflow: visible;
	}

	.price__wrapper {
		width: 620px;

		position: relative;

		overflow: visible;
	} 

	.price__table {
		width: 100%;

		position: relative;

    	margin-bottom: 40px;
	}

	.price__cell {
		min-width: auto;
	}

	.price td {
		width: 152px;
		padding: 0;
		padding-top: 10px;
    	padding-bottom: 4px;

		text-align: center;
	}

	.price__value {
		padding: 0;

		text-align: center;
	}

	.price__description {
		display: none;
	}

	.price__description--head {
		padding: 0;
		padding-top: 9px;

		font-size: 16px;
	}

	.price__description--main {
		display: table-cell;

		font-size: 14px;
	}

	.price__description--main span {
		display: block;
    	text-align: left;
    	padding-left: 16px;
    	padding-bottom: 7px;
    }

	.price__value--head {
		padding: 0;
		padding-bottom: 9px;

		font-size: 18px;
	}

	.price__cell--hit {
		position: relative;
	}

	.price__cell--hit::before {
		top: 2px;
    	left: -56px;
	}

	.price__controls {
		display: none;
	}

	#price-2:checked ~ .price .price__table,
	#price-3:checked ~ .price .price__table {
		right: 0;
	}	
}

@media (min-width: 1200px) {
	.price {
		padding-bottom: 50px;
    	margin-bottom: 68px;
	}

	.price__wrapper {
		width: 940px;

		padding-top: 60px;
	} 

	.price td {
		width: 152px;
		padding: 0;
		padding-top: 10px;
    	padding-bottom: 10px;

		text-align: center;
	}

	.price__value {
		padding: 0;

		text-align: center;
	}

	.price__description--head {
		padding: 0;
		padding-top: 14px;

		font-size: 18px;
	}

	.price__description--main {
		display: table-cell;

		font-size: 14px;
	}

	.price__description--main span {
		font-size: 18px;
		line-height: 30px;

		padding-bottom: 5px;
		padding-top: 5px;
    }

	.price__value--head {
		padding: 0;
		padding-bottom: 19px;
		padding-top: 4px;

		font-size: 24px;
	}

	.price__cell--hit::before {
		top: 12px;
    	left: -50px;
	}
}

/*footer*/

/*contact*/

.contact__information {
	margin-bottom: 15px;
}

.contact__title {
	margin: 0;
	margin-bottom: 38px;
	padding-left: 20px;
	padding-right: 20px;

	font-weight: 300;
	font-size: 24px;

	text-align: center;
}

.contact-list {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;

	list-style: none;

	text-align: center;
}

.contact-list__item {
	flex-basis: 30%;
}

.contact-list__item b {
	font-size: 18px;
}

.contact-list__item a,
.contact-list__item p {
	color: #d22856;

	font-size: 24px;
	font-weight: 300;

	text-decoration: none;
}

.contact__number {
	margin-top: 4px;
}

.contact__email {
	margin-top: 6px;
	margin-bottom: 27px; 
}

.contact__email a:hover,
.contact__email a:focus {
	color: #000;
	text-decoration: underline;
}

.contact__email a:active {
	opacity: 0.3;
}

.contact__address {
	margin-top: 6px;
}

@media (min-width: 660px) {
	.contact__information {
		margin-bottom: 10px;
	}

	.contact__title {
		margin: 0;
		margin-bottom: 47px;
		padding-left: 50px;
		padding-right: 50px;

		font-weight: 300;
		font-size: 40px;
	}

	.contact-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		padding-left: 10px;
		padding-right: 10px;
	}

	.contact-list__item {
		flex-basis: 50%;
	}

	.contact-list__item:last-child {
		flex-basis: 100%;
		margin-top: 25px;
	}
}

@media (min-width: 1200px) {
	.contact__title {
		margin-bottom: 60px;
		padding-left: 300px;
		padding-right: 300px;

		font-size: 50px;
	}

	.contact-list {
		justify-content: space-around;
	}

	.contact-list__item {
		flex-basis: 25%;
	}

	.contact-list__item:nth-child(2) {
		order: 1;
	}

	.contact-list__item:last-child {
		flex-basis: 25%;
		margin-top: 0;
	}

	.contact-list__item p {
		margin-top: 26px;
	}
}

/*map*/

.page-footer__map-wrapper {
	position: relative;
	z-index: 1;
}

.page-footer__map-wrapper iframe {
	border: none;
	width: 100%;
	height: 200px;
}

.page-footer__map-wrapper::before {
	position: absolute;

	content: "";

	top: -1px;
	left: 0;

	width: 100%;
	min-height: 40px;

	background-image: url(img/bg-triangle-white-footer.svg);
	background-repeat: no-repeat;
	background-position: 50% 0px;
	background-size: 100% 35px;
	z-index: 2;
}

@media (min-width: 660px) {
	.page-footer__map {
		margin-bottom: 30px;
	}

	.page-footer__map-wrapper::before {
		min-height: 70px;

		background-size: 100% 65px;
	}

	.page-footer__map-wrapper iframe {
		height: 375px;
	}
}

@media (min-width: 1200px) {
	.page-footer__map {
		margin-bottom: 60px;
	}

	.page-footer__map-wrapper::before {
		min-height: 86px;

		background-size: 100% 85px;
	}

	.page-footer__map-wrapper iframe {
		height: 500px;
	}
}

/*social*/

@media (min-width: 660px) {
	.footer-social {
		display: flex;
		justify-content: space-between;

		padding: 0 20px;
	}

	.footer-social__logo:hover .st0,
	.footer-social__logo:focus .st0 {
		fill: #d22856;
	} 


	.footer-social__logo:active {
		opacity: 0.3;
	} 

	.footer-social__list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;

		width: 190px;
		padding: 0;
		margin: 0;
		margin-bottom: 35px;
		margin-right: 18px;
    	margin-top: 3px;

		list-style: none;
	}

	.footer-social__logo--htmlacademy svg {
		width: 27px;
		height: 34px;

		transition: all .5s;
	}

	.social__link {
		display: flex;
		align-items: center;
    	justify-content: center;

		width: 45px;
		height: 45px;

		border: 3px solid #eae6dd;
		border-radius: 50%;
		transition: all .5s;
	}

	.social__link:hover,
	.social__link:focus {
		border: 3px solid #283645;
	}

	.social__link:active {
		opacity: 0.1;
	}

	.social__development {
		width: 150px;

		padding-top: 15px;
		margin-right: -20px;
		margin-bottom: 40px;
	}

	.social__development a {
		display: flex;
		align-items: center;

		font-size: 14px;
		line-height: 18px;

		color: #000;
		text-decoration: none;
	}

	.social__logo-wrapper {
		margin-left: 15px;
	}

	.footer-social__logo--htmlacademy:hover svg,
	.footer-social__logo--htmlacademy:focus svg {
		fill: #000;
	}

	.footer-social__logo--htmlacademy:active {
		opacity: 0.3;
	}
}

@media (min-width: 1200px) {
	.footer-social {
		padding-left: 130px;
		padding-right: 130px;
	}
}

/*inner*/

/*photo-page*/

.inner-page__name {
	margin: -70px 0 45px;

	background-color: #283645;
	background-image: url("img/bg-download-mobile-1x.jpg");
	background-repeat: no-repeat;
	background-position: center 2px;
    background-size: 700px auto;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
	   (min-resolution: 1.5dppx), 
	   (min-resolution: 144dpi) {
	.inner-page__name {
		background-image: url("img/bg-download-mobile-2x.jpg");	
	}
}

.name__description {
	color: #fff;

	margin: 0;
	padding-top: 97px;
	padding-bottom: 85px;
	padding-left: 20px;
	padding-right: 20px;

	font-size: 24px;
	line-height: 28px;
	font-weight: 300;

	text-align: center;
}

@media (min-width: 660px) {
	.inner-page__name {
		background-image: url("img/bg-download-tablet-1x.jpg");
		background-size: 1200px auto;
		background-position: center 0;

		margin-top: -112px;
		margin-bottom: 92px;
	}

	.name__description {
		padding-top: 183px;
		padding-bottom: 140px;

		font-size: 50px;
		line-height: 59px;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5) and 
	   (min-width: 660px), (min-resolution: 1.5dppx) and
	   (min-width: 660px), (min-resolution: 144dpi) and 
	   (min-width: 660px) {
	   .inner-page__name {
			background-image: url("img/bg-download-tablet-2x.jpg");
	   }
}

@media (min-width: 1200px) {
	.inner-page__name {
		background-image: url("img/bg-download-desktop-1x.jpg");
		background-size: 2560px auto;
		background-position: center 0;
}

	.name__description {
		width: 370px;
		margin: 0 auto;
		padding-top: 174px;
		padding-bottom: 102px;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5) and
	   (min-width: 1200px), (min-resolution: 1.5dppx) and 
	   (min-width: 1200px), (min-resolution: 144dpi) and
	   (min-width: 1200px) {
	   	.inner-page__name {
			background-image: url("img/bg-download-desktop-2x.jpg");
	   }
}

/*photo-page__main*/

.photo-page__promo {
	display: block;

	max-width: 320px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	margin-bottom: 50px;

	font-size: 14px;
	line-height: 30px;
	font-weight: normal;

	text-align: center;
}

.photo-page-gallery {
	margin-bottom: 41px;
}

.photo-page__gallery--main-photo {
	position: relative;
}

.photo-page__gallery--main-photo::before {
	content: "Панорама дня";

	position: absolute;
	right: 20px;
	top: 0;

	padding-top: 5px;

	font-size: 12px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;

	width: 140px;
	height: 30px;

	background-color: #d22856;
	color: #fff;

	text-align: center;
}

.post__picture {
	width: 100%;
}

.user__photo img {
	width: 100%;
}

.user-photo__list-item {
	background-color: #f2f2f2;
	margin-bottom: 20px;
}

.photo-page__gallery--main-photo {
	margin-bottom: 20px;
}

.photo-page__gallery--main-photo img {
	width: 100%;
}

.photo__description {
    padding-bottom: 20px;
}

.main-photo__description {
	margin-left: 20px;
    margin-right: 20px;

    background-color: #f2f2f2;
}

.photo__comment,
.main-photo__comment {
	margin: 0 0 11px 0;
    padding-top: 13px;
    padding-left: 17px;
    padding-right: 17px;
}

.comment__author {
	font-size: 14px; 
	line-height: 24px;
	font-weight: bold;
	font-style: normal;
}

.comment__time {
	font-size: 12px;
	line-height: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

.comment__text {
	margin: 0;

	font-size: 14px;
	line-height: 24px;
}

.user-photo__list {
	margin: 0 20px;
	padding: 0; 

	list-style: none;
}

.button-wrapper {
	display: flex;

	margin-left: 17px;
	margin-right: 17px;

	color: #d22856;

	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
}

.button-wrapper--main {
	display: flex;

	margin-left: 17px;
	margin-right: 17px;

	color: #d22856;

	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;

	padding-bottom: 20px;
}

.photo__like {
	display: inline-block;
	padding: 0;
	margin: 0;
	
	background-color: transparent;

	border: none; 

	cursor: pointer;
}

.like-quantity,
.like-quantity--main {
	padding-left: 20px;
}

.photo__like:hover svg,
.photo__like:focus svg {
	stroke: #d22856;
}

@media (min-width: 660px) {
	.photo-page-gallery {
		margin-bottom: 48px;
	} 

	.photo-page__promo {
		max-width: initial;
		padding-left: 20px;
		padding-right: 20px;
		margin: 0 30px 75px 30px;

		font-size: 18px;
	}

	.photo__description {
		padding-bottom: 0;
	}

	.user-photo__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.user-photo__list-item {
		flex-basis: 48%;
	}

	.photo__description {
		display: flex;
		flex-direction: column;
	}

	.photo__comment {
		min-height: 85px;
		padding-top: 0;
		padding-left: 27px;
    	padding-right: 27px;
    	margin-top: 23px;
    	margin-bottom: 0px;
	}

	.photo-page__gallery--main-photo::before {
		top: 59px;
	}

	.main-photo__description {
		position: relative;

		min-height: initial;
		margin-bottom: 50px;
		padding-bottom: 20px;
	}

	.main-photo__comment {
		min-height: initial;
		padding-top: 22px;
		padding-left: 27px;
		padding-right: 27px;
		margin-bottom: 5px;

		flex-grow: 0;
	}

	.button-wrapper {
		display: flex;
    	flex-direction: row-reverse;
    	justify-content: space-between;

    	padding: 0 0 22px 10px;
	}

	.button-wrapper--main {
		content: "";

		position: absolute;
		top: 23px;
    	right: 0;

		margin-right: 17px;
	}

	.main-photo__like {
		order: 1;
	}

	.like-quantity--main {
		margin-right: 17px;
	}

	.like-quantity {
		padding-left: 0;
	}
}
					

@media (min-width: 1200px) {
	.photo-page-gallery {
		margin-bottom: 5px;
	}

	.photo-page__promo {
		margin: 0 120px 90px 120px;
	
		padding-left: 170px;
		padding-right: 170px;
	}

	.photo-page__gallery--main-photo::before {
    	top: 53px;
    	right: 130px;
	}

	.main-photo__description {
		margin-left: 130px;
    	margin-right: 130px;
	}

	.user-photo__list {
		margin: 0 130px;
	}

	.user-photo__list-item {
		flex-basis: 32%;
		margin-bottom: 55px;
	}

	.photo__comment {
		min-height: 80px;
		margin: 15px 0 6px 0;
		padding: 0 28px;
	}

	.like-quantity {
		padding-left: 0;
	}
}

/*photo-download*/

.photo-download__container {
	margin-left: 20px;
	margin-right: 20px;
}

.photo-download__slogan {
	display: block;

	margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 73px;

	font-size: 14px;
	line-height: 30px;
	font-weight: normal;

	text-align: center;
}

.photo-download__area {
	background-color: #f2f2f2;

	padding-top: 20px;
	padding-bottom: 40px;
	margin-bottom: 41px;
}

.upload-picture {
	display: block;

	margin-bottom: 24px;
}

.upload-picture img {
	width: 100%;
}

.settings-list__wrapper {
	width: 320px;
	margin: 0 auto;
}

.photo-download__settings-list {
	margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 120px;
    padding-top: 16px;
    padding-right: 15px;
    padding-left: 10px;
    box-sizing: border-box;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;

	list-style: none;
}

.settings__item {
	flex-basis: 33.3%;

	position: relative;

	text-align: center;
}

.settings__item label {
	position: absolute;

	top: 0;
	left: 24px;
}

.range-input {
	position: absolute;

	top: 0;
	left: 0;
}

.settings__item svg {
	opacity: 0.3;
}

.settings__item:hover svg,
.settings__item:focus svg {
	opacity: 0.5
}

.settings__item:active svg {
	fill: #d22856;
	opacity: 1;
}

.range-input {
	display: block;
  	-webkit-appearance: none;

  	width: 100%;
 	margin: 0;

  	background-color: transparent;
}

.range-input:focus {
  	outline: none;
}

.range-input::-webkit-slider-runnable-track {
  	width: 100%;
  	height: 2px;

  	cursor: pointer;

  	box-shadow: none;
  	background: #283645;

  	border: none;
}

.range-input::-webkit-slider-thumb {
  	height: 12px;
  	width: 12px;
  	border: 2px solid #d22856;
  	margin-top: -5px;

  	border-radius: 50%;

  	background-color: #f2f2f2;
  	box-shadow: none;

  	cursor: pointer;
  	-webkit-appearance: none;
}

.range-input:focus::-webkit-slider-runnable-track {
  	background: #283645;
}

.range-input::-moz-range-track {
  	width: 100%;
  	height: 2px;

  	cursor: pointer;

  	box-shadow: none;
  	background: #283645;

  	border: none;
}

.range-input::-moz-range-thumb {
  	border: 2px solid #d22856;
  	height: 10px;
  	width: 10px;

  	border-radius: 50%;

  	background-color: #f2f2f2;
  	box-shadow: none;

  	cursor: pointer;
}

.range-input::-ms-track {
  	width: 100%;
  	height: 2px;

  	cursor: pointer;

  	background: transparent;
  	border-color: transparent;
  	color: transparent;
}

.range-input::-ms-fill-lower,
.range-input::-ms-fill-upper {
  	background: #283645;
  	border: none;
  	box-shadow: none;
}

.range-input::-ms-thumb {
  	box-shadow: none;

  	margin-top: 0;
  	border: 2px solid #d22856;
  	height: 10px;
  	width: 10px;

  	border-radius: 50%;
  	background-color: #f2f2f2;

  	cursor: pointer;
}

.range-input:focus::-webkit-slider-thumb,
.range-input:hover::-webkit-slider-thumb {
	background-color: #d22856;
}

.range-input:focus::-moz-range-thumb,
.range-input:hover::-moz-range-thumb {
	background-color: #d22856;
}

.range-input:focus::-ms-thumb,
.range-input:hover::-ms-thumb {
	background-color: #d22856;
}

.range-input:focus::-ms-fill-lower,
.range-input:focus::-ms-fill-upper {
  	background: #283645;
}

.range-input {
	display: none;
	width: 240px;
}

#crop:checked ~ .photo-download #setting1,
#fill:checked ~ .photo-download #setting2,
#contrast:checked ~ .photo-download #setting3 {
	display: block;
}

#crop:checked ~ .photo-download label[for="crop"] svg,
#fill:checked ~ .photo-download label[for="fill"] svg,
#contrast:checked ~ .photo-download label[for="contrast"] svg {
	fill: #d22856;
	opacity: 1;
}

#setting1 {
	left: 9px;
	top: 83px;
}

#fill-label {
	top: 1px;
	left: 18px;
}

#setting2 {
    top: 83px;
    left: -77px;
}

#contrast-label {
    top: 7px;
    left: 22px;
}

#setting3 {
	top: 83px;
    left: -162px;
}

.photo-send {
	width: 280px;
	margin: 0 auto;
	padding-top: 35px;

	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.photo-download__btn {
	display: block;

	width: 100%;

	font-size: 18px;
	line-height: 18px;
	font-weight: bold;

	background-color: transparent;
	border-radius: 30px;
	cursor: pointer;
	transition: all .5s;
}

.photo-send__button--send {
	padding: 16px 10px 16px 10px;
	margin-bottom: 10px;

	border: 3px solid #d22856;

	color: #d22856;
}

.photo-send__button--send:hover,
.photo-send__button--send:focus {
	background-color: #d22856;
	color: #fff;
}

.photo-send__button--send:active {
	color: rgba(255, 255, 255, 0.3);
}

.photo-send__button--reset {
	padding: 16px 10px 16px 10px;

	border: 3px solid #283645;

	color: #283645;
	opacity: 0.1;
}

.photo-send__button--reset:hover,
.photo-send__button--reset:focus {
	opacity: 0.3;
}

.photo-send__button--reset:active {
	background-color: rgba(40, 54, 69, 0.3);
	color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 660px) {
	.photo-download__slogan {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 67px;
		padding-right: 80px;
		padding-left: 80px;

		font-size: 18px;
	}

	.photo-download__area {
		display: flex;
		flex-wrap: wrap;

		padding-bottom: 25px;
		margin-bottom: 32px;
	}

	.upload-picture img {
		padding-top: 37px;
	}

	.settings-list__wrapper {
		width: 40%;
		margin-left: 20px;
		margin-right: 20px;
	}

	.photo-download__settings-list {
		padding: 0;
		padding-top: 25px;
		margin: 0;
		margin-bottom: 77px;
	}

	.settings__item {
		display: flex;
    	justify-content: space-around;
    	min-width: 280px;
    	padding-top: 20px;
    	padding-bottom: 20px;

    	border-bottom: 2px solid rgba(40, 54, 69, 0.1);
	}

	.settings__item label {
		position: static;
	}

	.crop-svg {
		width: 24px;
		height: 24px;
	}

	.fill-svg {
		width: 24px;
		height: 24px;
	}

	.contrast-svg {
		width: 16px;
		height: 16px;
	}

	.range-input {
		display: block;
		position: static;

		width: 200px;
	}

	.photo-send {
		width: 260px;
		padding-top: 0;
	}

	.photo-send__button--send {
		margin-bottom: 25px; 
	}
}

@media (min-width: 1200px) {
	.photo-download {
		margin-left: 120px;
		margin-right: 120px;

		padding-left: 10px;
    	padding-right: 10px;
	}

	.photo-download__slogan {
    	padding: 0 250px;
	}

	.photo-download__area {
		padding-left: 60px;
		padding-right: 60px;
		margin-bottom: 100px;
	}

	.settings-list__wrapper {
		width: 50%;
		padding: 0;
		margin-left: 50px;
	}

	.settings__item {
		flex-basis: 100%;
		padding-bottom: 5px;
	}

	.photo-download__settings-list {
		padding-top: 15px;
	}

	.crop-svg {
		width: 48px;
		height: 48px;
	}

	.fill-svg {
		width: 48px;
		height: 48px;
	}

	.contrast-svg {
		width: 32px;
		height: 32px;
	}

	.range-input {
		display: block;
		position: static;

		width: 288px;
	}

	.photo-send {
		width: 410px;
		padding-top: 77px;

		display: flex;
		justify-content: space-between;
	}

	.photo-download__btn {
		flex-basis: 45%;

		margin: 0;
	}
}

/*footer*/

@media (max-width: 659px) {
	.footer-social--not-index {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;

		padding: 0 20px;
		width: 280px;
    	margin: 0 auto;

    	text-align: center;
    }
}

.footer-social__logo {
	margin-bottom: 38px;
}

.footer-social--not-index .footer-social__logo:hover .st0,
.footer-social--not-index .footer-social__logo:focus .st0 {
	fill: #d22856;
} 

.footer-social--not-index .footer-social__logo:active {
	opacity: 0.3;
} 

.footer-social--not-index .footer-social__list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;

	width: 190px;
	padding: 0;
	margin: 0;
	margin-bottom: 22px;

	list-style: none;
}

.footer-social--not-index .footer-social__logo--htmlacademy svg {
	width: 27px;
	height: 34px;
}

.footer-social--not-index .social__link {
	display: flex;
	align-items: center;
    justify-content: center;

	width: 45px;
	height: 45px;

	border: 3px solid #eae6dd;
	border-radius: 50%;
}

.footer-social--not-index .social__link:hover,
.footer-social--not-index .social__link:focus {
	border: 3px solid #283645;
}

.footer-social--not-index .social__link:active {
	opacity: 0.1;
}

.footer-social--not-index .social__development {
	width: 150px;

	padding-top: 15px;
	margin-right: -20px;
	margin-bottom: 40px;
}

.footer-social--not-index .social__development a {
	display: flex;
	align-items: center;

	font-size: 14px;
	line-height: 18px;

	color: #000;
	text-decoration: none;
}

.footer-social--not-index .social__logo-wrapper {
	margin-left: 15px;
}

.footer-social--not-index .footer-social__logo--htmlacademy:hover svg,
.footer-social--not-index .footer-social__logo--htmlacademy:focus svg {
	fill: #000;
}

.footer-social--not-index .footer-social__logo--htmlacademy:active {
	opacity: 0.3;
}

/*form-page*/

.form-page {
	font-size: 18px;
}

.form-page .name__description {
	padding-bottom: 55px;
}

.form-promo {
	display: block;
	margin: 0 20px;
	margin-bottom: 34px;

	font-weight: normal;
	font-size: 14px;
	line-height: 30px;

	text-align: center;
}

@media (min-width: 660px) {
	.form-page .name__description {
		padding-bottom: 80px;
	}

	.form-promo {
		padding: 0 55px;
		margin-bottom: 0;

		font-size: 18px;	
	}

	.form-promo--no-mobile {
		display: block;
		margin: 0 20px;
		margin-bottom: 70px;

		font-weight: normal;
		font-size: 18px;
		line-height: 30px;

		text-align: center;
	}
}

@media (min-width: 1200px) {
	.form-page .name__description {
		min-width: 750px;
		margin: 0 auto;
    	padding: 176px 105px 100px;
  
		font-size: 50px;
	}

	.form-promo {
		padding: 0 95px;
		margin: 0 120px;

		font-size: 18px;	
	}

	.form-promo--no-mobile {
		margin: 0 120px;
		margin-bottom: 45px;
	}
}

/*.form*/

.user-form {
	margin-bottom: 85px;
}

.user-form__info {
	margin-bottom: 36px;
}

.user-name,
.user-contacts {
	margin: 0 20px;
	margin-bottom: 25px;
	padding: 0;

	border: none;
}

.user-name__list,
.user-contacts__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.user-name__item,
.user-contacts__item {
	margin-bottom: 17px;
}

.user-name__item label,
.user-contacts__item label {
	display: inline-block;
	padding-left: 22px;
	margin-bottom: 5px;

	color: #d22856;

	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.user-name__item input[type="text"],
.user-contacts__item input[type="tel"],
.user-contacts__item input[type="email"]
  {
	width: 100%;
	padding: 18px 20px 21px 20px;
	box-sizing: border-box;

	border: 2px solid #e5e5e5;

	font: inherit;
	font-size: 18px;
}

.fieldset__wrapper {
	margin-bottom: 30px;

	background-color: #f2f2f2; 
}

.fieldset__wrapper--user-soft {
	margin-bottom: 40px;
}

.user-achievements,
.user-soft {
	margin: 0 20px;
	padding: 0;

	border: none;
}

.user-achievements__legend,
.user-soft__legend,
.user-contacts__legend {
	padding: 0 20px;
	padding-top: 38px;
	margin-bottom: 40px;

	font-size: 14px;
	line-height: 18px;

	color: #d22856;

	text-transform: uppercase;
	text-align: center;
}

.user-soft__legend {
	margin-bottom: 40px;
}

.user-achievements__list,
.user-soft__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.user-achievements__item,
.user-soft__item {
	margin-bottom: 52px;

	line-height: 30px;
}

.user-soft__item {
	margin-bottom: 45px;
}

.achievements-item__checkbox,
.soft-item__radiobutton {
	position: relative;

	padding-left: 70px;

	cursor: pointer;
}

.achievements-item__checkbox input[type="checkbox"] + .checkbox-indicator {
	content: "";
	position: absolute;

	left: 0;
	top: -2px;

	width: 35px;
	height: 35px;

	background-color: #fff;
	border: 2px solid #e5e5e5;
}

.achievements-item__checkbox input[type="checkbox"]:focus + .checkbox-indicator,
.soft-item__radiobutton input[type="radio"]:focus + .radio-indicator {
	border-color: #d22856;
}

.achievements-item__checkbox input[type="checkbox"]:hover + .checkbox-indicator,
.soft-item__radiobutton input[type="radio"]:hover + .radio-indicator {
	border-color: #000;
}

.achievements-item__checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	content: "";
	position: absolute;

	top: 8px;
    left: 7px;

	width: 22px;
	height: 16px;

	background-image: url(img/check.svg);
}

.soft-item__radiobutton input[type="radio"] + .radio-indicator {
	content: "";

	position: absolute;
	top: -7px;
	left: 0;

	width: 35px;
	height: 35px;

	border-radius: 50%;

	background-color: #fff;
	border: 2px solid #e5e5e5;
}

.soft-item__radiobutton input[type="radio"]:checked + .radio-indicator::before {
	content: "";

	position: absolute;
	top: 10px;
    left: 10px;

	width: 14px;
	height: 14px;

	border-radius: 50%;

	background-color: #d22856;
}

.user-emotion {
	margin: 0 20px;
	margin-bottom: 50px;
	padding: 0;

	border: none;
	text-align: center;
}

.user-emotion__legend {
	padding: 0;
	margin-bottom: 16px;

	font-size: 14px;
	line-height: 18px;

	color: #d22856;

	text-transform: uppercase;
}

.user-emotion__text {
	width: 100%;
	padding: 14px 10px 0 18px;
	margin: 0;
	box-sizing: border-box;

    line-height: 30px;

	border: 2px solid #f2f2f2;  
}

.send-button__wrapper {
	margin: 0 20px;

	text-align: center;
}

.form-page__button {
	display: block;
	width: 100%;
	padding: 15px 45px;
	margin-bottom: 35px;

	color: #fff;
	background-color: #2aab6d;
	border: none;
	cursor: pointer;

	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.form-page__button:hover,
.form-page__button:focus {
	background-color: #1c9b5e;
}

.form-page__button:active {
	background-color: #1c9b5e;
	color: rgba(255, 255, 255, 0.1);
}

.user-explanation {
	margin: 0 20px;

	font-size: 14px;
	line-height: 30px;

	text-align: center;
	text-transform: uppercase;
}

.user-explanation sup {
	color: #d22856;
}

.form-page input[type="text"]:hover,
.form-page input[type="tel"]:hover,
.form-page input[type="email"]:hover,
.user-emotion__text:hover {
	border-color: #000;
}

.form-page input[type="text"]:focus,
.form-page input[type="tel"]:focus,
.form-page input[type="email"]:focus,
.user-emotion__text:focus {
	border-color: #d22856;
	outline: none;
}

@media (min-width: 660px) {
	.user-form__info {
		display: flex;
		flex-direction: column;
	}

	.fieldset__wrapper {
		background-color: #fff;
	}

	.user-name {
		order: 1;
		margin-bottom: 45px;
	}

	.user-name__item {
		display: flex;
		margin-bottom: 52px;
	}

	.user-name__item:last-child {
		margin-bottom: 15px;
	}

	.user-name__item label {
		padding-top: 20px;
		padding-left: 0;
		margin-bottom: 5px;
		margin-right: 20px; 
	}

	.fieldset__wrapper--user-achievements {
		order: 4;

		margin-bottom: 58px;
	}

	.user-achievements__legend {
		padding-top: 0;
		margin-bottom: 47px;
	}

	.achievements-item__checkbox {
		padding-left: 117px;
	}

	.achievements-item__checkbox input[type="checkbox"] + .checkbox-indicator {
		left: 58px;
    	top: -6px;
	}

	.user-contacts {
		order: 3;
		margin-bottom: 55px;
	}

	.user-contacts__legend {
		padding-top: 0;
	}

	.user-contacts__item {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;

		padding: 0 55px; 
		margin-bottom: 25px;
	}

	.user-contacts__item label {
		padding-top: 8px;
	}

	.user-contacts__item input[type="tel"] {
		padding-right: 70px;

		background-image: url(img/phone.svg);
		background-repeat: no-repeat;
		background-size: 20px 19px;
		background-position: 95% 18px;
	}

	.user-contacts__item input[type="email"] {
		padding-right: 70px;

		background-image: url(img/mail.svg);
		background-repeat: no-repeat;
		background-size: 18px 13px;
		background-position: 95% 22px;
	}

	.fieldset__wrapper--user-soft {
		order: 2;

		margin-bottom: 70px;
	}

	.user-soft,
	.user-contacts,
	.user-achievements,
	.user-emotion {
		border: 2px solid #e5e5e5; 
    	border-image: initial;
	}

	.user-soft__legend {
		padding-top: 0;
		margin-bottom: 47px;
	}

	.soft-item__radiobutton {
		padding-left: 117px;
	}

	.soft-item__radiobutton input[type="radio"] + .radio-indicator {
		left: 58px;
	}

	.user-emotion {
		order: 5;

		padding: 20px 60px 45px;
		margin-bottom: 65px;
	}

	.user-emotion__legend {
		padding: 0 20px;
	}

	.send-button__wrapper {
		order: 6;

		display: flex;
	}

	.user-form__send-button {
		flex-basis: 48%;

		margin-bottom: 0;
	}

	.user-explanation {
		flex-basis: 40%;

		text-align: right;

		padding-top: 19px;
    	margin-right: 0px;
    	margin-left: 75px;
	}
}

@media (min-width: 1200px) {

	.user-form {
		margin-bottom: 68px;
	}

	.user-form__info {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		margin: 0 120px;
		padding: 0 10px;
	}

	.user-name {
		padding: 0;
		padding-top: 10px;
		margin: 0;

		flex-basis: 50%;
	}

	.user-name__list {
		padding-right: 35px;
	}

	.user-soft {
		margin-left: 0px;
    	margin-right: 0px;
    	padding-left: 15px;
	}

	.fieldset__wrapper--user-soft {
		padding: 0;
		padding-left: 35px;
		margin: 0;
		margin-bottom: 60px;

		flex-basis: 50%;
		box-sizing: border-box;
	}

	.user-soft__list {
		margin-bottom: 57px;
	}

	.user-contacts {
		flex-basis: 100%;

		margin: 0;
		margin-bottom: 56px;
		padding: 0;
	}

	.user-contacts__legend {
		margin: 0;
		margin-bottom: 33px;
	}

	.user-contacts__list {
		display: flex;
	}

	.user-contacts__item {
		flex-basis: 50%;

		padding-bottom: 10px;
		margin-bottom: 0;
	}

	.user-contacts__item--tel {
		padding-left: 60px;
		padding-right: 35px;
	}

	.user-contacts__item--email {
		padding-right: 60px;
		padding-left: 35px;
	}

	.fieldset__wrapper--user-achievements {
		flex-basis: 100%;

		margin: 0;
		margin-bottom: 56px;
		padding: 0;
	}

	.user-achievements {
		margin: 0;
		padding-bottom: 10px;
	}

	.user-achievements__list {
		display: flex;
		flex-wrap: wrap;
	}

	.user-achievements__item {
		flex-basis: 33%;
	}

	.user-emotion {
		flex-basis: 100%;

		margin: 0;
		margin-bottom: 66px;
		padding: 0;
	}

	.user-emotion__text {
		width: 88%;
		height: 130px;

		margin-top: 18px;
		margin-bottom: 37px;
	}

	.send-button__wrapper {
		flex-basis: 100%;

		display: flex;
		justify-content: space-between;

		margin: 0;
		padding: 0;
	}

	.user-form__send-button {
		flex-basis: 32%;
	}
}

/*modal*/

.modal {
	position: fixed;

	background-color: #fff;
	box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.modal--fail {
	display: none;
	width: 100%;

	top: 30px;
	left: 0;

	z-index: 2;
}

.modal--ok {
	display: none;
	width: 100%;

	top: 230px; 
	left: 0;

	z-index: 2;
}

.modal__container {
	margin: 0 20px;

	text-align: center;
}

.modal__container--fail {
	padding-bottom: 20px;
}

.modal__head--ok {
	font-size: 18px;
	line-height: 24px;
}

.modal__head--fail {
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
}

.modal__description {
	font-size: 14px;
	line-height: 24px;
}

.modal-close__wrapper {
	padding: 50px 20px;
	text-align: center;

	background-color: #f2f2f2;
}

.modal-overlay {
	display: none;

	position: fixed;

	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	z-index: 1;

	background-color: rgba(0, 0, 0, 0.5);
}